*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2
{
    margin: 6px 9px;
    padding: 12px 13px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.container
{
    margin: 2px;
    padding: 1px;
    align-items: center;

}

.container table
{
    border-collapse: collapse;
}

.container th , td
{
    margin: 2px 3px;
    padding: 16px 16px;
    font-family:verdana, sans-serif;
    text-align: justify;
    align-content: center;
    /* overflow: hidden; */
    white-space:nowrap;

}
