*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    margin: 2px;
    padding: 1px;
    align-items: center;

}

.container table
{
    border-collapse: collapse;
}

.container th , td
{
    margin: 30px 31px 32px 25px;
    padding: 15px 22px;
    font-family:verdana, sans-serif;
    text-align: justify;
    align-content: center;
    overflow: hidden;
    white-space:nowrap;

}
